<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <h1 class="text-white text-2xl font-medium title-font mb-12 text-center">Teoría Musical</h1>
    <div class="lg:w-4/5 mx-auto">
      <details class="mb-4">
        <summary class="font-semibold bg-gray-800 rounded-md py-2 px-4 text-white">
          Notas Musicales
        </summary>
        <div class="mt-2 px-4 pb-4">
          <p class="text-base leading-relaxed text-gray-100">
            Una nota musical es el elemento más fundamental en la música.<br>
            Se refiere a un sonido específico con una altura (frecuencia) particular, que se utiliza como unidad básica para construir melodías, armonías y ritmos.<br><br>
            <strong>Las 7 Notas Naturales</strong><br>
            La música occidental se basa en una serie de siete notas naturales, y dependiendo de la región se utilizan dos nombres distintos:<br>
            En países anglosajones se utilizan las letras del abecedario de la A a la G, y en países latinos de Europa y América se utilizan los siguientes:<br>

            <ul class="text-base leading-relaxed text-gray-100">
              <li>Do (C)</li>
              <li>Re (D)</li>
              <li>Mi (E)</li>
              <li>Fa (F)</li>
              <li>Sol (G)</li>
              <li>La (A)</li>
              <li>Si (B)</li>
            </ul>
            <p class="text-base leading-relaxed text-gray-100">
            Estas notas forman la base de la escala diatónica mayor, que es fundamental en la teoría musical occidental. Cada una de estas notas puede ser representada en un pentagrama y tiene una frecuencia específica que determina su altura tonal.<br><br>
            <strong>Frecuencia y Altura</strong><br>
            <strong>Frecuencia:</strong> La frecuencia de una nota musical se mide en hertzios (Hz), que representan el número de vibraciones por segundo. Por ejemplo, la nota La (A4) se define comúnmente como 440 Hz.<br><br>
            <strong>Altura:</strong> La altura es la percepción subjetiva de la frecuencia. Notas con frecuencias más altas se perciben como más agudas, mientras que notas con frecuencias más bajas se perciben como más graves.<br><br>
            <strong>Notación Musical</strong><br>
            <strong>Símbolos:</strong> En la notación musical occidental, las notas se representan en un pentagrama utilizando diferentes símbolos (redondas, blancas, negras, corcheas, semicorcheas, etc.) que también indican su duración.<br><br>
            <strong>Nombres:</strong> Las notas se nombran utilizando las primeras siete letras del alfabeto (A, B, C, D, E, F, G) o las equivalentes solfeadas (Do, Re, Mi, Fa, Sol, La, Si).<br><br>
            <strong>Timbre</strong><br>
            El timbre es lo que distingue el sonido de una nota tocada en diferentes instrumentos o voces. Dos notas con la misma frecuencia pueden sonar muy diferentes en un piano y una guitarra debido a sus características de timbre únicas.<br><br>
            <strong>Alteraciones</strong><br>
            <ul class="text-base leading-relaxed text-gray-100">
              <li><strong>Sostenidos (♯):</strong> Suben la altura de la nota en un semitono.</li>
              <li><strong>Bemoles (♭):</strong> Bajan la altura de la nota en un semitono.</li>
              <li><strong>Becuadros (♮):</strong> Cancelan el efecto de un sostenido o bemol previo.</li>
            </ul>
            <p class="text-base leading-relaxed text-gray-100">
            <strong>Notas Naturales y Alteradas</strong><br>
            Las notas naturales son las siete notas básicas: Do, Re, Mi, Fa, Sol, La, Si. Las notas alteradas son aquellas que se ajustan utilizando sostenidos o bemoles. Por ejemplo, Do sostenido (C♯) y Re bemol (D♭).<br><br>
            <strong>Octavas</strong><br>
            Las notas musicales se agrupan en octavas. Una octava es el intervalo entre una nota y la siguiente nota con el mismo nombre. Por ejemplo, Do4 (C4) y Do5 (C5) están a una octava de distancia. Las notas en una octava tienen frecuencias que son el doble o la mitad de las notas en la octava adyacente.

        </div>
      </details>
      <details class="mb-4">
        <summary class="font-semibold bg-gray-800 rounded-md py-2 px-4 text-white">
          Escalas Musicales
        </summary>
        <div class="mt-2 px-4 pb-4">
          <p class="text-base leading-relaxed text-gray-100">
            Las escalas musicales son sucesiones de notas ordenadas por tonos y semitonos. Las más comunes son la escala mayor y la escala menor.
          </p>
        </div>
      </details>
      <details class="mb-4">
        <summary class="font-semibold bg-gray-800 rounded-md py-2 px-4 text-white">
          Acordes
        </summary>
        <div class="mt-2 px-4 pb-4">
          <p class="text-base leading-relaxed text-gray-100">
            Los acordes son combinaciones de tres o más notas que suenan simultáneamente. Los tipos más comunes son los acordes mayores, menores, aumentados y disminuidos.
          </p>
        </div>
      </details>
      <details class="mb-4">
        <summary class="font-semibold bg-gray-800 rounded-md py-2 px-4 text-white">
          Ritmo
        </summary>
        <div class="mt-2 px-4 pb-4">
          <p class="text-base leading-relaxed text-gray-100">
            El ritmo es el patrón de duración de las notas y los silencios en la música. Es uno de los elementos fundamentales que hacen que la música sea interesante y dinámica.
          </p>
        </div>
      </details>
    </div>
  </div>
</section>
