<section class="text-gray-400 bg-[#0f172a] body-font">
  <div class="container px-5 py-16 mx-auto">
    <h1 class="text-white text-2xl font-medium title-font mb-12 text-center" style="margin-bottom: 24px;">Teoría Musical</h1>
     <p class="text-center text-white mb-12 text-lg">Estos son los temas fundamentales que todo músico debería conocer para entender y apreciar la música a un nivel más profundo.
     </p>
     <div class="lg:w-4/5 mx-auto">
      <details #dropdown class="mb-4 sticky-details">
        <summary class="font-bold bg-gray-800 rounded-md py-2 px-4 text-white text-lg">
          Notas Musicales
        </summary>
        <div class="mt-2 px-4 pb-4">
          <p class="text-base leading-relaxed text-gray-100">
            Una nota musical es el elemento más fundamental en la música.<br>
            Se refiere a un sonido específico con una altura (frecuencia) particular, que se utiliza como unidad básica para construir melodías, armonías y ritmos.<br><br>
            <strong class="title-lg">Las 7 Notas Naturales</strong><br>
            La música occidental se basa en una serie de siete notas naturales, y dependiendo de la región se utilizan dos nombres distintos:<br>
            En países anglosajones se utilizan las letras del abecedario de la A a la G, y en países latinos de Europa y América se utilizan los siguientes:<br>
          </p>
          <div class="image-container text-center my-4">
            <img src="EscalaC.webp" alt="Escala de Do" class="mx-auto">
          </div>
          <p class="text-base leading-relaxed text-gray-100">
            Estas notas forman la base de la escala diatónica mayor, que es fundamental en la teoría musical occidental. Cada una de estas notas puede ser representada en un pentagrama y tiene una frecuencia específica que determina su altura tonal.<br><br>
            <strong class="title-lg">Frecuencia y Altura</strong><br>
            <strong>Frecuencia:</strong> La frecuencia de una nota musical se mide en hertzios (Hz), que representan el número de vibraciones por segundo. Por ejemplo, la nota La (A4) se define comúnmente como 440 Hz.<br><br>
            <strong>Altura:</strong> La altura es la percepción subjetiva de la frecuencia. Notas con frecuencias más altas se perciben como más agudas, mientras que notas con frecuencias más bajas se perciben como más graves.<br><br>
            <strong class="title-lg">Notación Musical</strong><br>
            <strong>Símbolos:</strong> En la notación musical occidental, las notas se representan en un pentagrama utilizando diferentes símbolos (redondas, blancas, negras, corcheas, semicorcheas, etc.) que también indican su duración.<br><br>
            <strong>Nombres:</strong> Las notas se nombran utilizando las primeras siete letras del alfabeto (A, B, C, D, E, F, G) o las equivalentes solfeadas (Do, Re, Mi, Fa, Sol, La, Si).<br><br>
            <strong class="title-lg">Timbre</strong><br>
            El timbre es lo que distingue el sonido de una nota tocada en diferentes instrumentos o voces. Dos notas con la misma frecuencia pueden sonar muy diferentes en un piano y una guitarra debido a sus características de timbre únicas.
          </p>
          <p class="text-base leading-relaxed text-gray-100">
            <strong class="title-lg">Notas Naturales y Alteradas</strong><br>
            Las notas naturales son las siete notas básicas: Do, Re, Mi, Fa, Sol, La, Si. Las notas alteradas son aquellas que se ajustan utilizando sostenidos o bemoles. Por ejemplo, Do sostenido (C♯) y Re bemol (D♭).<br><br>
          </p>
          <p class="text-base leading-relaxed text-gray-100">
            <strong class="title-lg">Alteraciones</strong><br>
            <ul class="text-base leading-relaxed text-gray-100">
              <li><strong>Sostenidos (♯):</strong> Suben la altura de la nota en un semitono.</li>
              <li><strong>Bemoles (♭):</strong> Bajan la altura de la nota en un semitono.</li>
              <li><strong>Becuadros (♮):</strong> Cancelan el efecto de un sostenido o bemol previo.</li>
            </ul>

          <div class="image-container text-center my-4">
            <img src="Alteraciones.png" alt="Alteraciones" class="mx-auto">
          </div>
          <p class="text-base leading-relaxed text-gray-100">
            <strong class="title-lg">Octavas</strong><br>
            Las notas musicales se agrupan en octavas. Una octava es el intervalo entre una nota y la siguiente nota con el mismo nombre. Por ejemplo, Do4 (C4) y Do5 (C5) están a una octava de distancia. Las notas en una octava tienen frecuencias que son el doble o la mitad de las notas en la octava adyacente.
          </p>
          <div class="image-container text-center my-4">
            <img src="Octavas.png" alt="Octavas" class="mx-auto">
          </div>
        </div>
      </details>


<!-- segundo DROPDOWN -->

      <details #dropdown class="mb-4 sticky-details">
        <summary class="font-bold bg-gray-800 rounded-md py-2 px-4 text-white text-lg">
          Intervalos Musicales
        </summary>
        <div class="mt-2 px-4 pb-4">
          <p class="text-base leading-relaxed text-gray-100">
            Los intervalos musicales son la distancia entre dos notas. Se miden en términos de tonos y semitonos y son fundamentales para la construcción de escalas, acordes y melodías.
          </p>

          <h3 class="title-lg text-gray-200 mt-4 font-bold">¿Qué es un intervalo?</h3>
          <p class="text-base leading-relaxed text-gray-100">
            Un intervalo es la diferencia de altura entre dos notas. Se puede medir ascendiendo (de una nota más baja a una más alta) o descendiendo (de una nota más alta a una más baja).
          </p>
          <div class="image-container text-center my-4">
            <img src="IntervaloAscDesc.png" alt="Intervalo Ascendente y Descendente" class="mx-auto">
          </div>

          <h3 class="title-lg text-gray-200 mt-4 font-bold">Tipos de Intervalos</h3>
          <p class="text-base leading-relaxed text-gray-100">
            Los intervalos pueden ser mayores, menores, justos, aumentados o disminuidos. Se clasifican en intervalos simples (dentro de una octava) y compuestos (más de una octava).  <br>Ejemplo, Mi(E) a (Sol), que es una tercera menor, simple y compuesta:
          </p>
          <div class="image-container text-center my-4">
            <img src="TiposDeIntervalos.png" alt="Tipos de Intervalos" class="mx-auto">
          </div>

          <h3 class="title-lg text-gray-200 mt-4 font-bold">¿Cómo se identifican los intervalos?</h3>
          <p class="text-base leading-relaxed text-gray-100">
            Los intervalos se identifican contando el número de notas (inclusive) desde la nota inicial hasta la nota final y determinando los tonos y semitonos entre ellas.
          </p>

          <h3 class="title-lg text-gray-200 mt-4 font-bold">Nombres de los Intervalos</h3>
          <ul class="list-disc ml-6 text-gray-100">
            <li><strong>Unísono (1):</strong> Ambas notas son idénticas.</li>
            <li><strong>Segunda (2):</strong> La distancia es de un tono o semitono.</li>
            <li><strong>Tercera (3):</strong> La distancia es de dos tonos.</li>
            <li><strong>Cuarta (4):</strong> La distancia es de dos tonos y un semitono.</li>
            <li><strong>Quinta (5):</strong> La distancia es de tres tonos y un semitono.</li>
            <li><strong>Sexta (6):</strong> La distancia es de cuatro tonos y un semitono.</li>
            <li><strong>Séptima (7):</strong> La distancia es de cinco tonos y un semitono.</li>
            <li><strong>Octava (8):</strong> La distancia es de seis tonos.</li>
          </ul>

          <h4 class="subtitle-lg text-gray-200 mt-4 font-bold">Intervalos Mayores y Menores</h4>
          <p class="text-base leading-relaxed text-gray-100">
            Los intervalos de segunda, tercera, sexta y séptima pueden ser mayores o menores. <br> Ejemplos:
          </p>
          <ul class="list-disc ml-6 text-gray-100">
            <li><strong>Segunda Mayor:</strong> Do (C) a Re (D).</li>
            <li><strong>Segunda Menor:</strong> Mi (E) a Fa (F).</li>
            <li><strong>Tercera Mayor:</strong> Do (C) a Mi (E).</li>
            <li><strong>Tercera Menor:</strong> Re (D) a Fa (F).</li>
            <li><strong>Sexta Mayor:</strong> Do (C) a La (A).</li>
            <li><strong>Sexta Menor:</strong> Mi (E) a Do (C).</li>
            <li><strong>Séptima Mayor:</strong> Do (C) a Si (B).</li>
            <li><strong>Séptima Menor:</strong> Re (D) a Do (C).</li>
          </ul>
          <div class="image-container text-center my-4">
            <img src="IntervalosMayoresYMenores.png" alt="Intervalos Mayores y Menores" class="mx-auto">
          </div>
          <h4 class="subtitle-lg text-gray-200 mt-4 font-bold">Intervalos Justos</h4>
          <p class="text-base leading-relaxed text-gray-100">
            Los intervalos de cuarta, quinta y octava se consideran justos, no mayores ni menores. <br> Ejemplos:
          </p>
          <ul class="list-disc ml-6 text-gray-100">
            <li><strong>Cuarta Justa:</strong> Do (C) a Fa (F).</li>
            <li><strong>Quinta Justa:</strong> Do (C) a Sol (G).</li>
            <li><strong>Octava Justa:</strong> Do (C) a Do (C).</li>
          </ul>
          <div class="image-container text-center my-4">
            <img src="IntervalosJustos.png" alt="Intervalos Justos" class="mx-auto">
          </div>

          <h4 class="subtitle-lg text-gray-200 mt-4 font-bold">Intervalos Aumentados y Disminuidos</h4>
          <p class="text-base leading-relaxed text-gray-100">
            Los intervalos pueden ser aumentados (un semitono más) o disminuidos (un semitono menos). <br> Ejemplos:
          </p>
          <ul class="list-disc ml-6 text-gray-100">
            <li><strong>Cuarta Aumentada:</strong> Do (C) a Fa# (F#).</li>
            <li><strong>Quinta Disminuida:</strong> Do (C) a Sol♭ (G♭).</li>
          </ul>
          <div class="image-container text-center my-4">
            <img src="IntervalosAumentadosYDisminuidos.png" alt="Intervalos Aumentados y Disminuidos" class="mx-auto">
          </div>
        </div>
      </details>


      <!-- TERCER DROPDOWN -->
      <details #dropdown class="mb-4 sticky-details">
        <summary class="font-bold bg-gray-800 rounded-md py-2 px-4 text-white text-lg">
          Escalas Musicales
        </summary>
        <div class="mt-2 px-4 pb-4">
          <p class="text-base leading-relaxed text-gray-100">
            Las escalas musicales son sucesiones de notas ordenadas por tonos y semitonos. Las más comunes son la escala mayor y la escala menor.
          </p>

          <h3 class="title-lg text-gray-200 mt-4 font-bold">¿Qué es una escala?</h3>
          <p class="text-base leading-relaxed text-gray-100">
            Una escala es una serie de notas musicales que ascienden o descienden en un orden específico de tonos (T) y semitonos (S). Cada escala tiene su propio patrón único de intervalos.
          </p>

          <h3 class="title-lg text-gray-200 mt-4 font-bold">Cómo se forman las escalas</h3>
          <p class="text-base leading-relaxed text-gray-100">
            Las escalas se forman a partir de una nota raíz (o tónica) y siguen un patrón fijo de tonos y semitonos. Por ejemplo, la escala mayor sigue el patrón: T - T - S - T - T - T - S.
          </p>

          <h3 class="title-lg text-gray-200 mt-4 font-bold">Ejemplo de Patrones de Escalas</h3>
          <p class="text-base leading-relaxed text-gray-100 font-bold">Este es el patrón de la escala mayor:</p>
          <div class="image-container text-center my-4">
            <img src="NotasEscalaMayor.png" alt="Notas de la Escala Mayor" class="mx-auto">
          </div>
          <p class="text-base leading-relaxed text-gray-100 font-bold">Este es el patrón de la escala menor:</p>
          <div class="image-container text-center my-4">
            <img src="NotasEscalaMenor.png" alt="Notas de la Escala Menor" class="mx-auto">
          </div>

          <h3 class="title-lg text-gray-200 mt-4 font-bold">La función de cada nota en la escala</h3>
          <p class="text-base leading-relaxed text-gray-100">
            Cada nota en una escala tiene una función específica:
          </p>
          <ul class="list-disc ml-6 text-gray-100">
            <li><strong>Tónica:</strong> La nota de inicio y de reposo de la escala.</li>
            <li><strong>Supertónica:</strong> La segunda nota, un tono por encima de la tónica.</li>
            <li><strong>Mediántica:</strong> La tercera nota, determina si la escala es mayor o menor.</li>
            <li><strong>Subdominante:</strong> La cuarta nota, establece la tensión y dirección.</li>
            <li><strong>Dominante:</strong> La quinta nota, refuerza la tónica.</li>
            <li><strong>Submediántica:</strong> La sexta nota, ofrece color armónico.</li>
            <li><strong>Sensible:</strong> La séptima nota, dirige hacia la tónica.</li>
          </ul>

          <h3 class="title-lg text-gray-200 mt-4 font-bold">Diferentes tipos de escalas y sus utilidades</h3>
          <p class="text-base leading-relaxed text-gray-100">
            Existen muchos tipos de escalas, cada una con sus propias características y usos:
          </p>
          <ul class="list-disc ml-6 text-gray-100">
            <li><strong>Escala Mayor:</strong> Utilizada en la música clásica y pop, crea un sonido brillante y alegre.</li>
            <li><strong>Escala Menor:</strong> Utilizada en la música triste o melancólica, tiene una estructura T - S - T - T - S - T - T.</li>
            <li><strong>Escala Pentatónica:</strong> Consta de cinco notas, muy común en el blues, rock y folk.</li>
            <li><strong>Escala Cromática:</strong> Incluye los doce semitonos de una octava, utilizada para crear efectos de tensión.</li>
            <li><strong>Escalas Modales:</strong> Como Dórico, Frigio, Lidio, etc., cada uno con un carácter único y utilizados en varios géneros musicales.</li>
            <li><strong>Escala Blues:</strong> Una escala pentatónica con una nota adicional (blue note), fundamental en el blues y jazz.</li>
          </ul>
          <!-- <div class="image-container text-center my-4">
            <img src="TiposEscalas.png" alt="Diferentes Tipos de Escalas" class="mx-auto">
          </div> -->
        </div>
      </details>

      <!-- CUARTO DROPDOWN -->

      <details class="mb-4 sticky-details">
        <summary class="font-bold bg-gray-800 rounded-md py-2 px-4 text-white text-lg">
          Acordes
        </summary>
        <div class="mt-2 px-4 pb-4">
          <p class="text-base leading-relaxed text-gray-100">
            Los acordes son combinaciones de tres o más notas que suenan simultáneamente. Los tipos más comunes son los acordes mayores, menores, aumentados y disminuidos.
          </p>

          <h3 class="title-lg text-gray-200 mt-4 font-bold">¿Qué es un acorde?</h3>
          <p class="text-base leading-relaxed text-gray-100">
            Un acorde es una combinación de tres o más notas que se tocan al mismo tiempo y que están separadas por intervalos específicos. Los acordes son la base de la armonía en la música.
          </p>

          <h3 class="title-lg text-gray-200 mt-4 font-bold">Cómo se forman los acordes</h3>
          <p class="text-base leading-relaxed text-gray-100">
            Los acordes se forman al apilar notas en intervalos de terceras (dos tonos). La nota más baja se llama fundamental, la siguiente es la tercera y la nota superior es la quinta. Pueden incluirse más notas para formar acordes extendidos.
          </p>
          <!-- <div class="image-container text-center my-4">
            <img src="NotasAcorde.png" alt="Notas de un Acorde" class="mx-auto">
          </div> -->

          <h3 class="title-lg text-gray-200 mt-4 font-bold">Tipos de Acordes</h3>

          <h4 class="subtitle-lg text-gray-200 mt-4 font-bold">Acordes Mayores, Menores, Disminuidos y Aumentados</h4>
          <p class="text-base leading-relaxed text-gray-100">
            Un acorde mayor se forma con una fundamental, una tercera mayor y una quinta justa. Tiene un sonido brillante y alegre.
            <br><em>Ejemplo: C (Do mayor) = Do (C) - Mi (E) - Sol (G)</em>
          </p>
          <p class="text-base leading-relaxed text-gray-100">
            Un acorde menor se forma con una fundamental, una tercera menor y una quinta justa. Tiene un sonido triste o melancólico.
            <br><em>Ejemplo: Cm (Do menor) = Do (C) - Mib (Eb) - Sol (G)</em>
          </p>
          <p class="text-base leading-relaxed text-gray-100">
            Un acorde disminuido se forma con una fundamental, una tercera menor y una quinta disminuida. Tiene un sonido tenso e inestable.
            <br><em>Ejemplo: Cdim (Do disminuido) = Do (C) - Mib (Eb) - Solb (Gb)</em>
          </p>
          <p class="text-base leading-relaxed text-gray-100">
            Un acorde aumentado se forma con una fundamental, una tercera mayor y una quinta aumentada. Tiene un sonido elevado y enérgico.
            <br><em>Ejemplo: Caug (Do aumentado) = Do (C) - Mi (E) - Sol# (G#)</em>
          </p>
          <div class="image-container text-center my-4">
            <img src="AcordesBasicos.png" alt="Acordes Mayores, Menores, Disminuidos y Aumentados" class="mx-auto">
          </div>

          <h4 class="subtitle-lg text-gray-200 mt-4 font-bold">Acordes de Séptima</h4>
          <p class="text-base leading-relaxed text-gray-100">
            Un acorde de séptima mayor se forma al añadir una séptima mayor a un acorde mayor. Tiene un sonido suave y jazzy.
            <br><em>Ejemplo: Cmaj7 (Do mayor séptima) = Do (C) - Mi (E) - Sol (G) - Si (B)</em>
          </p>
          <p class="text-base leading-relaxed text-gray-100">
            Un acorde de séptima menor se forma al añadir una séptima menor a un acorde menor. Tiene un sonido cálido y sofisticado.
            <br><em>Ejemplo: Cmaj7 (Do menor séptima) = Do (C) - Mi (Eb) - Sol (G) - Si (Bb)</em>
          </p>
          <p class="text-base leading-relaxed text-gray-100">
            Un acorde de séptima dominante se forma al añadir una séptima menor a un acorde mayor. Tiene un sonido fuerte y es común en la música blues y jazz.
            <br><em>Ejemplo: Cmaj7 (Do mayor séptima) = Do (C) - Mi (E) - Sol (G) - Si (Bb)</em>
          </p>
          <div class="image-container text-center my-4">
            <img src="AcordesSeptima.png" alt="Acordes de Séptima" class="mx-auto">
          </div>
        </div>
      </details>



      <!-- QUINTO DROPDOWN -->
      <details class="mb-4 sticky-details">
        <summary class="font-bold bg-gray-800 rounded-md py-2 px-4 text-white text-lg">
          Ritmo
        </summary>
        <div class="mt-2 px-4 pb-4">
          <p class="text-base leading-relaxed text-gray-100">
            El ritmo es el patrón de duración de las notas y los silencios en la música. Es uno de los elementos fundamentales que hacen que la música sea interesante y dinámica.
          </p>

          <h3 class="title-lg text-gray-200 mt-4 font-bold">Metrónomo</h3>
          <p class="text-base leading-relaxed text-gray-100">
            Un metrónomo es un dispositivo que produce un clic o un pitido a intervalos regulares de tiempo, medidos en pulsaciones por minuto (BPM). Los metrónomos ayudan a los músicos a mantener un tempo constante durante la interpretación de una pieza musical. Pueden ser mecánicos o digitales. En la partitura se indica el BPM al que debe operar el metronomo con la siguiente figura:
          </p>
          <div class="image-container text-center my-4">
            <img src="Metronomo.png" alt="Metrónomo" class="mx-auto">
          </div>

          <h3 class="title-lg text-gray-200 mt-4 font-bold">Cifras Indicadoras</h3>
          <p class="text-base leading-relaxed text-gray-100">
            Las cifras indicadoras, o compases, indican cómo se divide el tiempo en una pieza musical. Se representan mediante dos números al inicio de una partitura:
          </p>
          <div class="image-container text-center my-4">
            <img src="CifrasIndicadoras.png" alt="Cifras Indicadoras" class="mx-auto">
          </div>
          <ul class="list-disc ml-6 text-gray-100">
            <li><strong>Compás 4/4:</strong> Significa que hay cuatro negras por compás.</li>
            <li><strong>Compás 3/4:</strong> Significa que hay tres negras por compás.</li>
            <li><strong>Compás 6/8:</strong> Significa que hay seis corcheas por compás.</li>
          </ul>

          <h3 class="title-lg text-gray-200 mt-4 font-bold">Figuras Básicas</h3>
          <p class="text-base leading-relaxed text-gray-100">
            Las figuras rítmicas básicas indican la duración de las notas y los silencios en una pieza musical. Aquí están las principales:
          </p>
          <div class="image-container text-center my-4">
            <img src="FigurasRitmicas.png" alt="Figuras Rítmicas" class="mx-auto">
          </div>
          <ul class="list-disc ml-6 text-gray-100">
            <li><strong>Redonda:</strong> 4 tiempos.</li>
            <li><strong>Blanca:</strong> 2 tiempos.</li>
            <li><strong>Negra:</strong> 1 tiempo.</li>
            <li><strong>Corchea:</strong> 1/2 tiempo.</li>
            <li><strong>Semicorchea:</strong> 1/4 tiempo.</li>
          </ul>

          <h4 class="subtitle-lg text-gray-200 mt-4 font-bold">Tresillos</h4>
          <p class="text-base leading-relaxed text-gray-100">
            Un tresillo es una división rítmica en la cual una figura rítmica se divide en tres partes iguales en lugar de dos. Es común ver tresillos en la forma de tres corcheas en el espacio de dos corcheas normales. Se representa con un número "3" sobre o debajo del grupo de notas.
          </p>
          <div class="image-container text-center my-4">
            <img src="Tresillos.png" alt="Tresillos" class="mx-auto">
          </div>
        </div>
      </details>

        <!-- SEXTO DROPDOWN -->

        <details class="mb-4 sticky-details">
          <summary class="font-bold bg-gray-800 rounded-md py-2 px-4 text-white text-lg">
            Pentagrama
          </summary>
          <div class="mt-2 px-4 pb-4">
            <p class="text-base leading-relaxed text-gray-100">
              El pentagrama es el conjunto de cinco líneas y cuatro espacios que se utilizan para escribir la música. Cada línea y espacio representa una nota musical diferente. A continuación, se detallan los elementos principales que necesitas conocer para leer un pentagrama.
            </p>
            <div class="image-container text-center my-4">
              <img src="Pentagrama.png" alt="Pentagrama" class="mx-auto">
            </div>

            <h3 class="title-lg text-gray-200 mt-4 font-bold">Líneas y Espacios</h3>
            <p class="text-base leading-relaxed text-gray-100">
              El pentagrama consta de cinco líneas horizontales y cuatro espacios entre ellas. Las notas pueden colocarse tanto en las líneas como en los espacios:
            </p>
            <div class="image-container text-center my-4">
              <img src="Lineas.png" alt="Pentagrama" class="mx-auto">
            </div>
            <ul class="list-disc ml-6 text-gray-100">
              <li><strong>De abajo hacia arriba en clave de sol.</strong></li>
              <li><strong>Líneas:</strong> E, G, B, D, F (de abajo hacia arriba en clave de sol).</li>
              <li><strong>Espacios:</strong> F, A, C, E (de abajo hacia arriba en clave de sol).</li>
              <li><strong>De abajo hacia arriba en clave de fa.</strong></li>
              <li><strong>Líneas:</strong> G, B, D, F, A (de abajo hacia arriba en clave de fa).</li>
              <li><strong>Espacios:</strong> A, C, E, G (de abajo hacia arriba en clave de fa).</li>
            </ul>

            <h3 class="title-lg text-gray-200 mt-4 font-bold">Clave</h3>
            <p class="text-base leading-relaxed text-gray-100">
              La clave musical se coloca al inicio del pentagrama y determina el nombre y la altura de las notas. Las dos claves más comunes son:
            </p>
            <div class="image-container text-center my-4">
              <img src="ClaveSolFa.png" alt="Clave de Sol y Clave de Fa" class="mx-auto">
            </div>
            <ul class="list-disc ml-6 text-gray-100">
              <li><strong>Clave de Sol:</strong> Colocada en la segunda línea, indica que la segunda línea es Sol.</li>
              <li><strong>Clave de Fa:</strong> Colocada en la cuarta línea, indica que la cuarta línea es Fa.</li>
            </ul>

            <h3 class="title-lg text-gray-200 mt-4 font-bold">Cifra Indicadora</h3>
            <p class="text-base leading-relaxed text-gray-100">
              La cifra indicadora, también conocida como compás, se escribe después de la clave y determina la cantidad de pulsos por compás y el valor de cada pulso. Por ejemplo, en un compás de 4/4, hay cuatro pulsos por compás y cada pulso corresponde a una negra.
            </p>
            <div class="image-container text-center my-4">
              <img src="CifraIndicadora.png" alt="Cifra Indicadora" class="mx-auto">
            </div>

            <h3 class="title-lg text-gray-200 mt-4 font-bold">Silencios</h3>
            <p class="text-base leading-relaxed text-gray-100">
              Los silencios son símbolos que indican la duración de una pausa en la música. Cada figura musical tiene un símbolo de silencio correspondiente que indica cuánto tiempo debe durar la pausa:
            </p>
            <div class="image-container text-center my-4">
              <img src="Silencios.png" alt="Silencios" class="mx-auto">
            </div>
            <ul class="list-disc ml-6 text-gray-100">
              <li><strong>Silencio de Redonda:</strong> 4 tiempos.</li>
              <li><strong>Silencio de Blanca:</strong> 2 tiempos.</li>
              <li><strong>Silencio de Negra:</strong> 1 tiempo.</li>
              <li><strong>Silencio de Corchea:</strong> 1/2 tiempo.</li>
              <li><strong>Silencio de Semicorchea:</strong> 1/4 tiempo.</li>
            </ul>

            <h3 class="title-lg text-gray-200 mt-4 font-bold">Divisiones del Pentagrama</h3>
            <p class="text-base leading-relaxed text-gray-100">
              Las barras de compás son líneas verticales que dividen el pentagrama en compases, cada uno con una cantidad específica de pulsos según la cifra indicadora. Esto ayuda a organizar la música en segmentos manejables.
            </p>
            <div class="image-container text-center my-4">
              <img src="DivisionesPentagrama.png" alt="Divisiones del Pentagrama" class="mx-auto">
            </div>

            <h3 class="title-lg text-gray-200 mt-4 font-bold">Alteraciones y Armadura</h3>
            <p class="text-base leading-relaxed text-gray-100">
              Las alteraciones son símbolos que modifican la altura de una nota. Las principales alteraciones son:
            </p>
            <div class="image-container text-center my-4">
              <img src="AlteracionesArmadura.png" alt="Alteraciones y Armadura" class="mx-auto">
            </div>
            <ul class="list-disc ml-6 text-gray-100">
              <li><strong>Sostenido (♯):</strong> Sube la altura de la nota en un semitono.</li>
              <li><strong>Bemol (♭):</strong> Baja la altura de la nota en un semitono.</li>
              <li><strong>Becuadro (♮):</strong> Cancela el efecto de un sostenido o bemol previo.</li>
            </ul>
            <p class="text-base leading-relaxed text-gray-100">
              La armadura de clave se coloca inmediatamente después de la cifra indicadora y antes de la primera nota de la partitura. Indica las alteraciones que se aplican a lo largo de toda la pieza musical.
            </p>
          </div>
        </details>

    </div>
  </div>
</section>
