<section class="text-gray-600 body-font bg-slate-400 w-full">
  <div class="container px-5 py-12 mx-auto" style="max-width: 70%;">
    <div class="header mb-4 p-4 bg-gray-100 rounded-lg flex justify-between items-center">
      <h1 style="text-align: left;">Nivel {{ nivel }}</h1>
      <span style="text-align: right;">{{ ejercicioActual }}/{{ totalEjercicios }}</span>
    </div>
    <div class="ejercicio bg-gray-100 p-4 rounded-lg">
      <p style="text-align: center; font-size: 28px;" *ngIf="pregunta">
        {{ pregunta }}
      </p>
      <p style="text-align: center; font-size: 18px;">Haz clic en una opción para seleccionar la respuesta correcta</p>
      <div class="opciones" style="text-align: center;">
        <div *ngFor="let opcion of opciones" class="opcion" (click)="seleccionarOpcion(opcion)" [ngClass]="{ 'opcion-correcta': opcion.imagen === respuestaCorrecta && mostrarBoton, 'opcion-incorrecta': opcion.imagen !== respuestaCorrecta && mostrarBoton }">
          <img [src]="opcion.imagen" alt="Opción" [style.pointer-events]="mostrarBoton ? 'none' : 'auto'" style="width: 100%; max-width: 600px; margin: 10px 0;">
        </div>
      </div>
      <p *ngIf="mensajeAlerta" [ngClass]="mensajeAlerta === '¡Correcto!' ? 'mensaje-correcto' : 'mensaje-incorrecto'">
        {{ mensajeAlerta }}
      </p>
      <button *ngIf="mostrarBoton" style="margin-top: 20px; background-color: #007bff; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;" (click)="avanzarPregunta()">Avanzar</button>
      <button *ngIf="mostrarBotonFinal" style="margin-top: 20px; background-color: #28a745; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;" (click)="redirigirSeleccionNiveles()">Volver a Selección de Niveles</button>
    </div>
  </div>
</section>

