<div class="ejercicio"  style="width: 70%; margin: 0 auto; ">
  <h1 style="text-align: left;">Nivel {{ nivel }}</h1>
  <p style="text-align: center;">
    Elige la partitura correcta para la siguiente sucesión de notas:
  </p>
  <h2 style="text-align: center; font-size: 28px; margin: 20px 0;">
    Do Re Mi Fa Sol La Si Do
  </h2>
  <div class="opciones" style="text-align: center;">
    <img src="/N1E1.1.png" alt="Opción 1" style="width: 100%; max-width: 600px; margin: 10px 0;">
    <img src="/N1E1.2.png" alt="Opción 2" style="width: 100%; max-width: 600px; margin: 10px 0;">
    <img src="/N1E1.3.png" alt="Opción 3" style="width: 100%; max-width: 600px; margin: 10px 0;">
    <img src="/N1E1.4.png" alt="Opción 4" style="width: 100%; max-width: 600px; margin: 10px 0;">
  </div>
</div>
