.ejercicios-ritmicos {
  padding: 20px;
  background-color: #E2E8F0;
  text-align: center;
}

.ejercicios-ritmicos h1 {
  color: #333;
  font-size: 36px;
  margin-right: 20px;
}

.ejercicios-ritmicos p {
  margin: 10px 0;
  font-size: 16px;
}

.ejercicios-ritmicos ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  text-align: left;
  width: 70%;
}

.ejercicios-ritmicos ul li {
  margin: 5px 0;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ejercicios-ritmicos ul li:hover {
  background-color: #d0d0d0;
}
