<img id="avatarButton" (click)="toggleDropdown()" class="w-10 h-10 rounded-full cursor-pointer " src="../../..//public/no-prof-image.png" alt="User dropdown"/>

<!-- Dropdown menu -->
 <!--deberia usarse otra cosa que no sea block para que el componente se renderice sobre otros -->
<div id="userDropdown" [ngClass]="{ 'hidden': !isDropdownVisible, 'absolute': isDropdownVisible }" class="absolute right-12 z-30 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
  <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
    <div>Bonnie Green</div>
    <div class="font-medium truncate">correo</div>
  </div>
  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
    <li>
      <a href="/profile" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Perfil</a>
    </li>
    <li>
      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Guardados</a>
    </li>
    <li>
      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Progreso</a>
    </li>
  </ul>
  <div class="py-1" (click)="onLogout()">
    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
  </div>
</div>
