<section class="text-gray-600 body-font bg-slate-200">
  <div class="container px-5 py-12 mx-auto">
    <h1 class="text-2xl font-bold title-font mb-4 text-center text-gray-900">Ejercicios Melódicos</h1>
    <p class="text-base leading-relaxed mb-12 text-center text-gray-600">
      Ejercicios para desarrollar tu oído melódico.
    </p>
    <ul class="list-none p-0 text-left w-full md:w-3/5 lg:w-3/5 mx-auto">
      <li class="mb-4 p-4 bg-gray-100 rounded-lg cursor-pointer flex justify-between items-center hover:bg-gray-200" (click)="goToExercise(1)">
        Nivel 1
      </li>
      <li class="mb-4 p-4 bg-gray-100 rounded-lg cursor-pointer flex justify-between items-center hover:bg-gray-200" (click)="goToExercise(2)">
        Nivel 2
      </li>
      <li class="mb-4 p-4 bg-gray-100 rounded-lg cursor-pointer flex justify-between items-center hover:bg-gray-200" (click)="goToExercise(3)">
        Nivel 3
      </li>
      <li class="mb-4 p-4 bg-gray-100 rounded-lg cursor-pointer flex justify-between items-center hover:bg-gray-200" (click)="goToExercise(4)">
        Nivel 4
      </li>
      <li class="mb-4 p-4 bg-gray-100 rounded-lg cursor-pointer flex justify-between items-center hover:bg-gray-200" (click)="goToExercise(5)">
        Nivel 5
      </li>
    </ul>
  </div>
</section>
