<section class="text-gray-800 body-font bg-slate-400">
  <div class="container px-5 py-12 mx-auto">
    <div class="bg-blue-800 bg-opacity-90 p-6 rounded-lg mb-4 text-white w-full md:w-4/5 lg:w-4/5 mx-auto">
      <h1 class="text-3xl font-bold title-font mb-4 text-center">Ejercicios Tonales</h1>
      <p class="text-lg leading-relaxed text-center">
        Ejercicios para identificar las notas en el pentagrama. Cada nivel contiene una serie de ejercicios de selección múltiple diseñados para ayudarte a mejorar tu reconocimiento de notas y tu comprensión de las tonalidades.
      </p>
    </div>
    <div class="bg-slate-600 bg-opacity-75 p-6 rounded-lg mb-6 w-full md:w-4/5 lg:w-4/5 mx-auto">
      <h2 class="text-xl font-bold mb-4 text-white">¿Qué esperar de cada nivel?</h2>
      <p class="text-base text-white">
        Por cada nivel, encontrarás una cantidad de ejercicios que te desafiarán a identificar notas, alteraciones y tonalidades. Estos ejercicios son ideales para principiantes que desean fortalecer su comprensión básica de las notas en el pentagrama.
      </p>
    </div>
    <ul class="list-none p-0 text-left w-full md:w-4/5 lg:w-4/5 mx-auto">
      <li class="mb-6 p-4 bg-gray-100 rounded-lg cursor-pointer flex justify-between items-center hover:bg-gray-200" (click)="goToExercise(1)">
        Nivel 1: Notas naturales
        <svg class="w-4 h-4 ml-2 text-gray-600" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
          <path d="M9 18l6-6-6-6"></path>
        </svg>
      </li>
      <li class="mb-6 p-4 bg-gray-100 rounded-lg cursor-pointer flex justify-between items-center hover:bg-gray-200" (click)="goToExercise(2)">
        Nivel 2: Notas con alteraciones
        <svg class="w-4 h-4 ml-2 text-gray-600" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
          <path d="M9 18l6-6-6-6"></path>
        </svg>
      </li>
      <li class="mb-6 p-4 bg-gray-100 rounded-lg cursor-pointer flex justify-between items-center hover:bg-gray-200" (click)="goToExercise(3)">
        Nivel 3: Identificación de tonalidades
        <svg class="w-4 h-4 ml-2 text-gray-600" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
          <path d="M9 18l6-6-6-6"></path>
        </svg>
      </li>
      <li class="mb-6 p-4 bg-gray-100 rounded-lg flex justify-between items-center text-gray-400">
        Nivel 4: Pronto...
        <svg class="w-4 h-4 ml-2 text-gray-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
          <path d="M9 18l6-6-6-6"></path>
        </svg>
      </li>
      <li class="mb-6 p-4 bg-gray-100 rounded-lg flex justify-between items-center text-gray-400">
        Nivel 5: Pronto...
        <svg class="w-4 h-4 ml-2 text-gray-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
          <path d="M9 18l6-6-6-6"></path>
        </svg>
      </li>
    </ul>
  </div>
</section>
